
	<!--ANT 1.7 is required  -->
	 <target name="create_jar">
	    <jar destfile="<OUTPUT_JAR_FILE>" filesetmanifest="mergewithoutmain" zip64Mode="always">
			<manifest>
				<MAIN_CLASS>
				<attribute name="Class-Path" value="." />
			</manifest>
			<FILESET>
		</jar>
		

	</target>
